# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment files (keep secrets out of Git)
.env
.env.local
.env.*.local

# Build output
.next/
dist/
build/

## Local data and secrets
#tls-certs/
#portal-db/

# Git
.git

# IDE/editor folders
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
